
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li routerLinkActive="active"><a routerLink="admin">Admin</a></li>
      <li routerLinkActive="active"><a routerLink="test">test</a></li>
      <li routerLinkActive="active"><a routerLink="parent">parent-child</a></li>
      <li routerLinkActive="active"><a routerLink="product">product</a></li>
      <li routerLinkActive="active"><a routerLink="calculator">calculator</a></li>
      <li routerLinkActive="active"><a routerLink="emp">Emp</a></li>
      <li routerLinkActive="active" style="float: right"><button type="button" class="btn btn-success" routerLink="login">Login</button></li>
    </ul>
  </div>
</div>
<hr>


<div class="container">
    <router-outlet></router-outlet>
</div>